<!DOCTYPE html>
<html>
  <head>
    <title><%= MMOWriter::NAME %></title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <div class="navbar">
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>