<!DOCTYPE html>
<html>
  <head>
    <title><%= MMOWriter::NAME %></title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <noscript>
      <div class="info_banner" style="background-color:#a00;color:#fff;margin:0px;">
        <b>Javascript must be enabled for MMOWriter to function correctly.</b>
      </div>
    </noscript>
    <div class="navbar">
      <div class="navbar_center">
        <div class="navbar_block"><%= MMOWriter::NAME %></div>
        <a href="/"><div class="navbar_link">Home</div></a>
        <a href="/"><div class="navbar_link">Write</div></a>
        <a href="/"><div class="navbar_link">Archive</div></a>
        <a href="/"><div class="navbar_link">About</div></a>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>