body {
  font-family: sans-serif, Arial;
  margin: 0px;
}

.navbar {
  background: #eee;
  
  height: 40px;
}

.navbar_center {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.navbar_block {
  float: left;
  text-align: center;
  min-width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  font-weight: bold;
}

.navbar_link {
  float: left;
  text-align: center;
  min-width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;  
  color: #000;
}

.navbar_link:hover {
  background-color: #ddd;
}

.content {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  word-wrap: break-word;
  position: relative;
}

.story {
  font-family: serif, Times, 'Times New Roman';
  text-align: justify;
  text-justify: inter-word;
  font-size: 13pt;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  color: #fff;
  background-color: #0096ff;
  border-style: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

.user_input {
  text-align: center;
}

.user_input_hint {
  color: #aaa;
}