body {
  font-family: sans-serif, Arial;
  margin: 0px;
}

.navbar {
  background: #eee;
  
  height: 40px;
}

.navbar_center {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.navbar_block {
  float: left;
  text-align: center;
  min-width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  font-weight: bold;
}

.navbar_link {
  float: left;
  text-align: center;
  min-width: 60px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;  
  color: #000;
}

.navbar_link:hover {
  background-color: #ddd;
}

.content {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  word-wrap: break-word;
  position: relative;
}

.story {
  font-family: serif, Times, 'Times New Roman';
  text-align: justify;
  text-justify: inter-word;
  font-size: 13pt;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

button, input[type=submit] {
  color: #fff;
  background-color: #0096ff;
  border-style: none;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}

button:hover, input[type=submit]:hover {
  background-color: rgba(0, 150, 255, 0.85);
}

.user_input {
  text-align: center;
}

.user_input_hint {
  color: #aaa;
}

.user_input_button {
  padding: 10px;
}

.user_input_button_red {
  padding: 10px;
  background-color: #ee3322;
}

.user_input_button_red:hover {
  background-color: rgba(238, 51, 34, 0.85);
}

.user_input_button_green {
  padding: 10px;
  background-color: #32CD32;
}

.user_input_button_green:hover {
  background-color: rgba(50, 205, 50, 0.85);
}

.info_banner {
  background-color: #fcf0ad;
  color: #36301d;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  text-align: center;
}

.info_banner a {
  color: #36301d;
}

.footer {
  height: 10px;
  width: 100%;
  text-align: center;
  font-size: 8pt;
  padding-top: 20px;
  color: #444;
  z-index: -1;
}

.footer a {
  color: #444;
}